{% extends 'ishappening/_extend/base.html' %}
{% load ishappening.common %}

{% block content %}
    {% include 'ishappening/_include/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% get_countries as countries %}
                    {% for country_id, country_name in countries %}
                        {% with country_name|slugify as country_slug %}
                        <li {% if country_slug in request.path %}class="active"{% endif %}>
                            <a href="/{{ country_name|slugify }}">{{ country_name }}</a>
                        </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>

                <div class="row placeholders">
                    {% for document in documents|slice:'0:4' %}
                        <div class="col-xs-6 col-sm-3 placeholder">
                        <img height="300" src="{{ document.picture_url }}" class="img-responsive"
                             alt="{{ document.title }}">
                        <h4><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></h4>
                        <span class="text-muted">{{ document.snippet|truncatechars:20 }}</span>
                    </div>
                    {% endfor %}
                </div>

                <h2 class="sub-header">Section title</h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Snippet</th>
                            <th>Traffic</th>
                            <th>URL</th>
                            <th>Published</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for document in documents|slice:'4:' %}
                            <tr>
                                <td>{{ document.title }}</td>
                                <td>{{ document.snippet }}</td>
                                <td>{{ document.approx_traffic }}</td>
                                <td><a href="{{ document.get_absolute_url }}">{{ document.get_absolute_url }}</a></td>
                                <td>{{ document.published }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}