{% load ishappening.common %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {% get_countries as countries %}
        {% for country_id, country_name in countries %}
            {% with country_name|slugify as country_slug %}
                {% if country_slug in request.path %}
                    <li class="active">
                        <a href="/{{ country_name|slugify }}">{{ country_name }}</a>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% for country_id, country_name in countries %}
            {% with country_name|slugify as country_slug %}
                {% if country_slug not in request.path %}
                    <li>
                        <a href="/{{ country_name|slugify }}">{{ country_name }}</a>
                    </li>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </ul>
</div>
