{% extends '_extend/base.html' %}

{% block title %}Help{% endblock %}

{% block content %}
    {% include '_include/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <h3 class="page-header">Help</h3>
                <p>IsHappening.World is just a world-top searches aggregator.</p>
                <p>
                    Each page content isn't in anyway property of this site.<br>
                </p>
                <h3>That's just an experiment.</h3>
            </div>
        </div>
    </div>
{% endblock %}